  <mode rating="x" name="Beast"> <!-- ARRPG pg87 -->
   <skill name="Athletics"        cost="2"/>
   <skill name="Notice"           cost="1"/>
   <skill name="Physique"         cost="1"/>
   <skill name="Provoke"          cost="1"/>
   <skill name="Tooth &amp; Claw" cost="1"/> <!-- ARRPG pg87 -->
   <!-- Also Specialize 1 Trained Skill -->
  </mode>
