  <mode rating="x" name="Commander"> <!-- ARRPG pg300 -->
   <skill name="Deceive" cost="2"/>
   <skill name="Empathy" cost="3"/>
   <skill name="Notice"  cost="1"/>
   <skill name="Provoke" cost="1"/>
   <skill name="Tactics" cost="0"/> <!-- ARRPG pg91 -->
   <skill name="Will"    cost="1"/>
   <!-- 2 pts of Improvements -->
  </mode>
