  <mode rating="1" name="Human&#160;Resources">
   <skill name="Contacts" cost="1"/>
   <skill name="Deceive"  cost="2"/>
   <skill name="Empathy"  cost="3"/>
   <skill name="Notice"   cost="1"/>
   <skill name="Rapport"  cost="2"/>
   <skill name="Will"     cost="1"/>
  </mode>
