  <mode rating="x" name="Jenkins" stress-type="split"> <!-- ARRPG pg256 -->
   <skill name="Athletics" cost="2"/>
   <skill name="Combat"    cost="2"/>
   <skill name="Notice"    cost="1"/>
   <skill name="Physique"  cost="1"/>
   <skill name="Provoke"   cost="1"/>
   <skill name="Stealth"   cost="2"/>
   <skill name="Vehicles"  cost="2"/>
   <skill name="Will"      cost="1"/>
  </mode>
