  <mode rating="x" name="Reporter" stress-type="mental"> <!-- ARRPG pg90 -->
   <skill name="Contacts" cost="1"/>
   <skill name="Empathy"  cost="3"/>
   <skill name="Notice"   cost="1"/>
   <skill name="Rapport"  cost="1"/>
   <skill name="Stealth"  cost="2"/>
   <skill name="Will"     cost="1"/>
  </mode>
