  <mode rating="x" name="Robot" stress-type="physical"> <!-- ARRPG pg90 -->
   <skill name="Athletics" cost="2"/>
   <skill name="Notice"    cost="1"/>
   <skill name="Physique"  cost="1"/>
   <!--
        Specialize 1 Trained Skill
        Focus      2 Trained Skills
   -->
  </mode>
