  <mode rating="x" name="Science" stress-type="mental"> <!-- ARRPG pg85 -->
   <skill name="Notice"               cost="1"/>
   <skill name="Will"                 cost="1"/>
   <skill name="(all other Sciences)" cost="1"/>
  </mode>
  <!--
       Specialize one trained skill.
       Focus one trained skill.
       Specialize one focused skill.
  -->
