  <mode rating="x" name="Secret&#160;Agent"> <!-- ARRPG pg91 -->
   <skill name="Burglary" cost="1"/>
   <skill name="Contacts" cost="1"/>
   <skill name="Deceive"  cost="2"/>
   <skill name="Notice"   cost="1"/>
   <skill name="Stealth"  cost="2"/>
   <skill name="Vehicles" cost="2"/>
  </mode>
