  <mode rating="x" name="She-Devil" stress-type="split"> <!-- ARRPG pg280 -->
   <skill name="Athletics" cost="2"/>
   <skill name="Combat"    cost="2"/>
   <skill name="Contacts"  cost="1"/>
   <skill name="Notice"    cost="1"/>
   <skill name="Vehicles"  cost="2"/>
   <skill name="Will"      cost="1"/>
  </mode>
  <!-- 1 pt of Improvements -->
