  <mode rating="x" name="Soldier" stress-type="split"> <!-- ARRPG pg91 -->
   <skill name="Athletics" cost="2"/>
   <skill name="Combat"    cost="2"/>
   <skill name="Contacts"  cost="1"/>
   <skill name="Notice"    cost="1"/>
   <skill name="Physique"  cost="1"/>
   <skill name="Tactics"   cost="0"/>
   <skill name="Vehicles"  cost="2"/>
   <skill name="Will"      cost="1"/>
  </mode>
