  <mode rating="x" name="Warbot" stress-type="physical"> <!-- ARRPG pg93 -->
   <skill name="Athletics" cost="2"/>
   <skill name="Combat"    cost="2"/>
   <skill name="Notice"    cost="1"/>
   <skill name="Physique"  cost="1"/>
   <!-- Focus 3 Trained Skills -->
  </mode>
