  <mode rating="x" name="Spy" stress-type="mental"> <!-- Cf. Winfield Scott Lovecraft from Tesla's 5 of 7 -->
   <skill name="Burglary" cost="1"/>
   <skill name="Contacts" cost="1"/>
   <skill name="Deceive"  cost="2"/>
   <skill name="Notice"   cost="1"/>
   <skill name="Stealth"  cost="2"/>
   <skill name="Will"     cost="1"/>
  </mode>
