#atomic-robo-logo { height: 2em; }

dl.hardware { margin-top: 0; }
dl.hardware dt { clear: both; float: left; font-variant: small-caps; font-weight: bolder; margin-right: 0; margin-top: 0; }
dl.hardware dt#function, dl.hardware dt#flaw { clear: none; }
dl.hardware dd { border: 2px solid #999999; float: left; font: 1em "Walter Turncoat", ubuntu, verdana, arial, helvetica, sans-serif; margin-bottom: 0.5em; margin-left: 0; margin-right: 1.5em; padding: 0.1em; padding-left: 0.2em; padding-right: 0.2em; }

fieldset.aspect { height: 1.25em; padding-left: 0.5em; padding-top: 2em; }

fieldset.consequence { height: 1.5em; }

fieldset.experience { height: 1.1em; padding-top: 0.5em; vertical-align: text-bottom; padding-left: 11em; position: relative; text-align: left; clear: none; float: left; }
fieldset.experience.used { color: #666666; text-decoration: line-through; }
fieldset.experience span.content { margin-left: -10em; }
fieldset.experience legend.label { color: #666666; font: oblique small-caps 1.3em bolder Cabin, Padauk, Montserrat; }

li.focused { color: blue; }
li.specialized { color: red; }

p { font-family: Cabin, Padauk, Montserrat; }
p #copyright { clear: both; float: none; }

table#skills tbody tr th { font-family: Cabin, Padauk, Montserrat; }
table#skills tbody tr td { margin-left: 0; padding-left: 0; margin-bottom: -2em; padding-top: 1em; text-align: left; }
table#skills tbody tr td ul { line-height: 1.1em; margin-left: 0.3em; padding-left: 0.4em; }
table#skills tbody tr td ul li { margin-left: 0; padding-left: 0; margin-right: -0.2em; padding-right: 0; }

ul#skill-explanation { font-size: 1em; }
ul#skill-explanation li { display: inline; }
ul#skill-explanation li:after + li { content: ", "; }

@media print and (-webkit-min-device-pixel-ratio: 0) { div#aspects { width: 35%; }
  div#skills { width: 65%; }
  span#atomic-robo-logo img { height: 50px; }
  fieldset.aspect { border: 0; font-size: 1em; margin: 0.2em; margin-top: 0.4em; padding: 0.2em; }
  fieldset.aspect legend.label span { margin: 0; margin-top: -1.6em; padding: 0; }
  th.mode-rating { font-size: 1.7em; padding-top: 0.3em; }
  th.sectionheader { line-height: 1em; font-size: 0.5em; margin: -1em; padding: 0; }
  table#aspects tbody tr td { border: 2px solid #cccccc; padding-top: 1em; padding-bottom: 1.2em; }
  table#skills tbody tr th.sectionheader { line-height: 1em; font-size: 1em; margin: -1em; padding: 0; }
  table#skills tbody tr td { padding: 0.1em; padding-top: 0.2em; padding-bottom: 0.2em; }
  table#skills tbody tr td ul { margin: 0.1em; padding: 0.1em; } }
