div#aspects { width: 60%; }
div#skills { width: 40%; }

dl.approaches dt { border: 0px; font-size: 1.2em; font-weight: 600; line-height: 80%; text-transform: uppercase; }
dl.approaches dt span.explanation { font-size: 0.7em; font-style: oblique; text-transform: none; }
dl.approaches dd { float: clear; width: 2.4em; }

div#skills dl#simple dd, div#skills dt { clear: both; display: block; }

fieldset legend span { top: 0.2em; }

table#stress td { padding: 1.8em; }

table#approaches { margin-right: -4em; }
table#approaches tbody tr td dl.approaches dt { font-size: 1em; }
table#approaches tbody tr td dl.approaches dd { font-size: 1em; }

@media print and (-webkit-min-device-pixel-ratio: 0) { table#approaches { font-size: 1.7em; }
  table#approaches tbody tr td dl.approaches { clear: all; float: right; margin-bottom: 0; padding-bottom: 0; width: 100%; }
  table#approaches tbody tr td dl.approaches dt { float: left; font-size: 1em; margin-bottom: -1.3em; margin-top: -0.5em; padding-bottom: -0.2em; text-align: left; }
  table#approaches tbody tr td dl.approaches dd { float: right; font-size: 0.8em; margin-bottom: -1.3em; }
  table#approaches tbody tr th.sectionheader { font-size: 0.7em; } }
