@charset "UTF-8";
body { color: #111111; margin: 0.1em 0.4em; padding: 0.2em; font: 1em "Walter Turncoat", ubuntu, verdana, arial, helvetica, sans-serif; }

div#aspects, div#id, div#stress, div#experiences, div#notes { float: left; }
div#fate-logo, div#skills, div#consequences, div#experiences-explanation { float: right; }
div#id, div#consequences { width: 70%; }
div#aspects { width: 47%; }
div#skills { width: 53%; }
div#fate-logo, div#stress { width: 30%; }
div#experiences { width: 75%; }
div#experiences-explanation { width: 25%; }
div#notes { width: 100%; }

dl dt { font-family: Cabin, Padauk, Montserrat; display: inline; padding: 0.35em; padding-left: 0.5em; padding-right: 0.5em; }
dl dd { display: inline; padding: 0.35em; padding-left: 0.5em; padding-right: 0.5em; border: 2px solid black; float: right; font-family: Cabin, Padauk, Montserrat; }

em.phase-aspect { font: oblique small-caps 1.2em 900 Cabin, Padauk, Montserrat; }

fieldset#affiliation, fieldset#description { line-height: 1.1em; }
fieldset#affiliation, fieldset#description, fieldset#name, fieldset.aspect, fieldset.consequence, fieldset.phase, fieldset.stunt { padding-left: 11em; position: relative; text-align: left; }
fieldset.aspect { height: 1.1em; padding-top: 0.5em; vertical-align: text-bottom; }
fieldset.aspect span.content { margin-left: -10em; }
fieldset#name { height: 1.1em; padding-top: 0.5em; vertical-align: text-bottom; }
fieldset.aspect legend.label, fieldset#affiliation legend.label, fieldset#description legend.label, fieldset#name legend.label { color: #666666; font: oblique small-caps 1.3em bolder Cabin, Padauk, Montserrat; }
fieldset.consequence { font-style: oblique; padding-left: 8.6em; text-align: right; height: 1.1em; }
fieldset.consequence legend { color: #444444; font: small-caps 1.3em bolder Cabin, Padauk, Montserrat; }
fieldset.consequence legend span { padding-bottom: 3em; top: 0.1em; }
fieldset.phase { font-family: Cabin, Padauk, Montserrat; }
fieldset.stunt { font-size: 0.85em; font-style: oblique; text-align: right; padding-left: 16em; }
fieldset.stunt legend { color: black; font: small-caps 1.5em bolder Cabin, Padauk, Montserrat; }
fieldset.stunt legend span { top: 0.2em; }

h1, hr { display: none; }

legend { float: left; }
legend span { position: absolute; top: 0.2em; left: 0.4em; }

p#copyright { font-family: Cabin, Padauk, Montserrat; font-size: 0.8em; text-align: center; }

table { border: 0px; padding: 0.3em; text-align: center; width: 100%; }
table#stress td { border: 4px solid black; font-family: Cabin, Padauk, Montserrat; font-size: 1.4em; font-weight: 900; }

td, th { border: 0px; vertical-align: top; }

.sectionheader { background-color: black; border-bottom-right-radius: 0.9em; border-top-left-radius: 0.9em; color: white; font-family: Cabin, Padauk, Montserrat; padding: 0.2em; text-transform: uppercase; vertical-align: text-top; }

.中文 { font-family: "AR PL Ukai CN", Kaiti; font-size: 1.25em; }

#fate { font: small-caps 5em bolder Cabin, Padauk, Montserrat; }
#fate img { width: 4em; }

#fate-subtitle { font: 2em bolder; text-transform: uppercase; }

@media print and (-webkit-min-device-pixel-ratio: 0) { html body div table tbody tr td { font-size: 0.6em; }
  table#skills tbody { font-size: 0.75em; }
  table#stress tbody tr td { border: 1px solid black; }
  fieldset.experience { width: 75%; }
  fieldset.experience, fieldset.phase, ul#skill-explanation, .sectionheader { font-size: 0.5em; }
  p#experiences-explanation { float: left; font-size: 0.5em; padding-top: 0.5em; }
  #fate-logo { height: 50px; }
  div#notes { font-size: 0.5em; }
  fieldset.aspect { font-size: 1em; height: 2em; line-height: 1.3em; margin: 0.1em; padding-top: 0.1em; }
  fieldset.aspect legend.label { font-size: 1.2em; height: 1.6em; line-height: 2.2em; margin: 0.1em; }
  table#aspects { font-size: 1.2em; height: 1.6em; line-height: 2.2em; margin: 0.1em; } }
